 //theme-yellow
 $theme-yellow-yellow: #fbcd00 ;
 $theme-yellow-menubar-white: #dee2e6;
 $theme-yellow-menubar-color: #f1f1f1;
 $theme-yellow-p-menuitem-text-color: #312f2f;
 $theme-yellow-p-menuitem-icon-color: #312f2f;
 $theme-yellow-submenu-icon-color: #312f2f;
 $theme-yellow-p-menuitem-content-hover-color: #495057;
 $theme-yellow-p-menuitem-content-hover-background: #fbcd00 ;
 $theme-yellow-p-menuitem-p-highlight-p-menuitem-content-color: #495057;
 $theme-yellow-p-menuitem-p-highlight-p-menuitem-content-background: #cba705;
 $theme-yellow-p-submenu-list-background: #fbcd00;
 
  //theme-Blue
  $theme-blue-yellow: #204c79;
  $theme-blue-menubar-white: #dee2e6;
  $theme-blue-menubar-color: #f1f1f1;
  $theme-blue-p-menuitem-text-color: #ffffff;
  $theme-blue-p-menuitem-icon-color: #ffffff;
  $theme-blue-submenu-icon-color: #ffffff;
  $theme-blue-p-menuitem-content-hover-color: #495057;
  $theme-blue-p-menuitem-content-hover-background: #042b53;
  $theme-blue-p-menuitem-p-highlight-p-menuitem-content-color: #495057;
  $theme-blue-p-menuitem-p-highlight-p-menuitem-content-background: #2e6dad;
  $theme-blue-p-submenu-list-background: #204c79;
 
   //theme-Red
   $theme-red-red: #e71c1c;
   $theme-red-menubar-white: #dee2e6;
   $theme-red-menubar-color: #f1f1f1;
   $theme-red-p-menuitem-text-color: #ffffff;
   $theme-red-p-menuitem-icon-color: #ffffff;
   $theme-red-submenu-icon-color: #ffffff;
   $theme-red-p-menuitem-content-hover-color: #495057;
   $theme-red-p-menuitem-content-hover-background: #042b53;
   $theme-red-p-menuitem-p-highlight-p-menuitem-content-color: #495057;
   $theme-red-p-menuitem-p-highlight-p-menuitem-content-background: #2e6dad;
   $theme-red-p-submenu-list-background: #e71c1c;
 
   //theme-Purple
   $theme-purple-purple: #cd04cd ;
   $theme-purple-menubar-white: #dee2e6;
   $theme-purple-menubar-color: #f1f1f1;
   $theme-purple-p-menuitem-text-color: #ffffff;
   $theme-purple-p-menuitem-icon-color: #ffffff;
   $theme-purple-submenu-icon-color: #ffffff;
   $theme-purple-p-menuitem-content-hover-color: #495057;
   $theme-purple-p-menuitem-content-hover-background: #6f096f ;
   $theme-purple-p-menuitem-p-highlight-p-menuitem-content-color: #495057;
   $theme-purple-p-menuitem-p-highlight-p-menuitem-content-background: #6f096f;
   $theme-purple-p-submenu-list-background: #cd04cd;
 